# Pandas ＆ TensorFlow

# Pandas package

### google 教學練習
https://colab.research.google.com/notebooks/mlcc/intro_to_pandas.ipynb?hl=zh-cn#scrollTo=av6RYOraVG1V

import package

In [43]:
import pandas as pd

### pandas 數據結構

創造Series

In [44]:
pd.Series(['San Francisco', 'San Jose', 'Sacramento'])

0    San Francisco
1         San Jose
2       Sacramento
dtype: object

用Series組成dict(字典)，再建立DataFrame

In [58]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
Population = pd.Series([852469, 1015785, 485199])

pd.DataFrame({ 'City name': city_names, 'Population': Population })

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199

讀取csv

In [46]:
california_housing_dataframe = pd.read_csv("https://storage.googleapis.com/mledu-datasets/california_housing_train.csv", sep=",")
#讀取csv
california_housing_dataframe.describe()
# .describe() 查看summary .describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

查看前五筆資料

In [47]:
#讀取前五筆資料
california_housing_dataframe.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [48]:
#hist 直接畫圖
#code 怪怪的
california_housing_dataframe.hist('housing_median_age')

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x114d155f8>]], dtype=object)

### pandas 數據檢索

檢視資料型態

In [49]:
cities = pd.DataFrame({"City name":city_names,"population":population}) #創造DF
type(cities["City name"]) #檢視資料型態

pandas.core.series.Series

In [50]:
cities["City name"]

0    San Francisco
1         San Jose
2       Sacramento
Name: City name, dtype: object

In [51]:
type(cities['City name'][1])
cities['City name'][1]

'San Jose'

In [52]:
type(cities[0:2])
cities[0:2]

       City name  population
0  San Francisco      852469
1       San Jose     1015785

### pandas 數據計算

直接使用Series計算

In [54]:
population / 1000

0     852.469
1    1015.785
2     485.199
dtype: float64

import package

In [55]:
import numpy as np

In [61]:
cities["population"]

0     852469
1    1015785
2     485199
Name: population, dtype: int64

使用apply函數 新增布林檢查的欄位

In [64]:
population.apply(lambda val: val > 1000000)

0    False
1     True
2    False
dtype: bool

新增Series

In [63]:
cities['Area square miles'] = pd.Series([46.87, 176.53, 97.92])
cities['Population density'] = cities['population'] / cities['Area square miles']
cities

       City name  population  Area square miles  Population density
0  San Francisco      852469              46.87        18187.945381
1       San Jose     1015785             176.53         5754.177760
2     Sacramento      485199              97.92         4955.055147

### index

查看index

In [66]:
city_names.index

RangeIndex(start=0, stop=3, step=1)

In [67]:
cities.index

RangeIndex(start=0, stop=3, step=1)

重新給予index

In [68]:
cities.reindex([2, 0, 1])

       City name  population  Area square miles  Population density
2     Sacramento      485199              97.92         4955.055147
0  San Francisco      852469              46.87        18187.945381
1       San Jose     1015785             176.53         5754.177760

# TensorFlow

## google教學

https://colab.research.google.com/notebooks/mlcc/tensorflow_programming_concepts.ipynb?hl=zh-cn#scrollTo=SDbi6heigEGA

import package

In [70]:
import tensorflow as tf

/Users/wuyanhui/anaconda/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.5
  return f(*args, **kwds)

In [74]:
# Create a graph.
g = tf.Graph()

# Establish the graph as the "default" graph.
with g.as_default():
  # Assemble a graph consisting of the following three operations:
  #   * Two tf.constant operations to create the operands.
  #   * One tf.add operation to add the two operands.
  x = tf.constant(8, name="x_const")
  y = tf.constant(5, name="y_const")
  sum = tf.add(x, y, name="x_y_sum")


  # Now create a session.
  # The session will run the default graph.
  with tf.Session() as sess:
    print(sum.eval())

13

### 练习：引入第三个运算数
修改上面的代码列表，以将三个整数（而不是两个）相加：

定义第三个标量整数常量 z，并为其分配一个值 4。
将 sum 与 z 相加，以得出一个新的和。

重新运行修改后的代码块。该程序是否生成了正确的总和？

In [78]:
g = tf.Graph()
with g.as_default():
    x = tf.constant(8, name="x_const")
    y = tf.constant(5, name="y_const")
    sum = tf.add(x,y, name="x_y_z_sum")
    z = tf.constant(4, name="z_const")
    new_sum = tf.add(sum,z, name="new_sum")
    
    with tf.Session() as sess:
        fin_sum = new_sum.eval()
        # eval 返回值
        print(new_sum)